@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* --color-primary: {
    50: #e6f0ff,
    100: #cce1ff,
    200: #99c2ff,
    300: #66a3ff,
    400: #3385ff,
    500: #FF6900,
    600: #002db3,
    700: #002080,
    800: #00134d,
    900: #00071a
  }; */

  /* --color-gray: {
    50: #fafaf9,
    100: #f5f5f4,
    200: #e7e5e4,
    300: #d6d3d1,
    400: #a8a29e,
    500: #78716c,
    600: #57534e,
    700: #44403c,
    800: #292524,
    900: #1c1917
  }; */

  /* --color-red: {
    50: #fff1f1,
    100: #ffe5e5,
    200: #fecaca,
    300: #fca5a5,
    400: #f87171,
    500: #ef4444,
    600: #dc2626,
    700: #b91c1c,
    800: #991b1b,
    900: #7f1d1d
  }; */

  /* --color-green: {
    50: #f0fdf4,
    100: #dcfce7,
    200: #bbf7d0,
    300: #86efac,
    400: #4ade80,
    500: #22c55e,
    600: #16a34a,
    700: #15803d,
    800: #166534,
    900: #14532d
  }; */

  --font-monsterety: "Montserrat", "sans-serif"
}

body {
  margin: 0;
  font-family: var(--font-monsterety);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}